<h1>Listing users</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<table>
  <tr>
    <th>Username</th>
    <th></th>
    <% if session[:user_id] %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', user %></td>
    <% if user.id == session[:user_id] %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


