<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
	<b>Teams</b><br />
	<% if @user.teams.empty? %>
		<em>No teams found! Try creating a new one or request an invite from a team captain.</em>
	<% else %>
	<ul>
	<% @user.teams.each do |t| %>
		<li>
		<%= link_to t.teamname, t %>
		</li>
	<% end %>
	</ul>
	<% end %>
</p>

<p>
	<b>Battles</b>
	<%= render(@user.battles) %>
</p>
<br />
<br />

<% if @user_matches_session %>
<%= button_to 'Edit Profile', edit_user_path(@user), :method => :get %>
<%= button_to 'Create New Team', new_team_path, :method => :get %>
<%= button_to 'View All Teams', teams_path, :method => :get %>
<% end %>

