<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<!--<p>
  <b>Teams</b><br />
  <ul>
  <% @user.teams.each do |team| %> 
  	<li><%= team.teamname %></li>
  <% end %>
</p>-->



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
