<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
	<b>Teams</b><br />
	<ul>
	<% @user.teams.each do |t| %>
		<li>
		<%= t.teamname %>		
		-- <%= link_to 'Disband', t, :confirm => "Disband '#{t.teamname}'? This cannot be undone.", :method => :delete %>
		</li>
	<% end %>
	</ul>
</p>

<% if @user_matches_session %>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Create New Team', new_team_path %>
<% end %>

