<% players = battle.get_all_participants %>
<div id="battle[<%= battle_counter %>]" class="<%= battle_counter.odd? ? 'oddline' : 'evenline' %>">
	<div style="width: 125px; float: left;"><%= players[0] %></div>
	<div style="width: 125px; float: left;"><%= players[1] %></div>
	<div style="width: 150px; float: left;">
		<% if battle.is_user_allowed_to_report_winner(session[:user_id]) %>
			<%= button_to "Report Winner", edit_battle_path(battle), :method => :get %>
		<% else %>
			<%= battle.team_winner_to_s %>
		<% end %>
	</div>
</div>
