<% participating_users_by_teams = battle.get_all_participants %>

<tr id="battle[<%= battle_counter %>]" class="<%= battle_counter.odd? ? 'oddline' : 'evenline' %>">
	<% participating_users_by_teams.each do |team| %>
		<td class="battle_list_of_users">
			<% team.each do |user| %>
				<%= user.username %>
			<% end %>			
		</td>
	<% end %>
	<td class="battle_winner">
		<% if !battle.team_winner_id %>
			<% if battle.is_user_allowed_to_report_winner(session[:user_id]) %>
				<%= button_to "Report Winner", edit_battle_path(battle), :method => :get %>
			<% else %>
				In Progress
			<% end %>
		<% else %>
			<%= battle.team_winner_to_s %>
		<% end %>
	</td>
</tr>
