<hr>
<% teams = battle.get_all_participants %>
<div id="battle[<%= battle_counter %>]" class="<%= battle_counter.odd? ? 'oddline' : 'evenline' %>">
	<% teams.each do |team| %>
		<div style="width: 200px; float: left;">
			<% team.each do |player| %>
				<%= player %>
			<% end %>			
		</div>
	<% end %>
	<div style="width: 100px; float: left;">
		<% if !battle.team_winner_id %>
			<% if battle.is_user_allowed_to_report_winner(session[:user_id]) %>
				<%= button_to "Report Winner", edit_battle_path(battle), :method => :get %>
			<% else %>
				In Progress
			<% end %>
		<% else %>
			<%= battle.team_winner_to_s %>
		<% end %>
	</div>
	<br />
</div>



