<%= form_for(@battle) do |f| %>
  <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

      <ul>
      <% @battle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
	<% @battle.match.teams.each do |t| %>
		<%= radio_button("battle", "team_winner_id", t.id) %>
		<%= t.teamname + ": " %>
		<% @battle.get_team_participants(t).each do |u| %>
			<%= u.username + " " %>
		<% end %>
		<br />
	<% end %>
  </div>

<br />

  <div class="actions">
    <%= f.submit "Report Winner" %>
  </div>
<% end %>
