<p id="notice"><%= notice %></p>

<% team1 = @match.teams.first %>
<% team2 = @match.get_other_team(@match.teams.first) %>

<h3><%= team1.teamname %> VS <%= team2.teamname %></h3>
Started on <%= @match.get_created_timestamp %><br /><br />

<b>Battle Log</b>
<div id="battles-header">
<%= team1.teamname %> Players -- 
<%= team2.teamname %> Players -- 
Winning Team
</div>

<div id="battles-content">	
<%= render(@match.battles) %>
<% if @match.all_battles_complete? && @match.is_user_a_captain?(session[:user_id]) %>
	<%= button_to "Generate Battles", matches_generate_battles_path(:match => @match) %>
<% end %>
</div>

