<p id="notice"><%= notice %></p>

<% team1 = @match.teams.first %>
<% team2 = @match.get_other_team %>

<h3 style="text-align: center">
<span style="color: red"><%= team1.teamname %></span>
 VS 
<span style="color: blue"><%= team2.teamname %></span>
</h3>

<div id="map" style="float: left; margin-right: 10px">
	<%= render(@match.map) %>
</div>

<%= form_for :match, @match, :url => generate_orders_url(:id => @match.id) do |f| %>
<div id="roster" style="float: left;">
	<% @match.teams.each do |t| %>
	<div id="teamroster" style="float: left;">
		<b><%= t.teamname %></b><br/>
		<% t.users.each do |u| %>
			<%= u.username %>
			<% if u.id == t.captain_user_id %>
				<em>(Captain)</em>
			<% end %>
			<% if @match.is_user_a_captain_of_this_team?(session[:user_id], t.id) && !@match.does_user_have_next_location?(u) && @match.all_battles_complete? %>
				<% connected_locations = u.get_user_location_for_match(@match).get_all_connected_locations %>
				<%= collection_select("user_order", u.id, connected_locations, :id, :name) %>	
			<% end %>
			<br />			
		<% end %>
	<% end %>
	</div>
</div>
<br clear="all" />
<br />
<% if @match.is_user_a_captain?(session[:user_id]) %>
	<%= submit_tag "Submit Orders" %>
<% end %>
<% end %>

<br /><br />

<b>Battle Log</b>
<div id="battles-header">
	<div style="width: 125px; float: left;"><%= team1.teamname %> Players</div>
	<div style="width: 125px; float: left;"><%= team2.teamname %> Players</div>
	<div style="width: 125px; float: left;">Winning Team</div>
</div>
<br clear="all" />
<div id="battles-content">
<%= render(@match.battles) %>
<br/>


</div>
<br /><br />
Started on <%= @match.get_created_timestamp %><br /><br />


